*{
    font-family: sans-serif;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 400px;
    border: 0.5px solid #aaa;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.texto {
    width: 100%;
    border: 0.5px solid #999;
    background-color: #eee;
    margin: 5px 0;
    padding: 3px 15px;
    line-height: 2;
    color: #555;
}

.mes {
    width: 100%;
    line-height: 2.5;
    margin: 5px 0;
    padding: 0 15px;
    border: 0.5px solid #999;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.feriadosHeader {
    width: auto;
    line-height: 2;
    margin: 5px 0;
    padding: 0 8px 0 15px;
    border: 0.5px solid #999;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    span {
        margin-right: 10px
    }
    
    .mas, .menos {
        width: 25px;
        height: 25px;
        border-radius: 2px;
        border: 1px solid #666;
        font-size: 20px;
        margin: 4px 6px;
        text-align: center;
    }
    
    .mas:hover, .menos:hover {
        background-color: #aaa;
        color: #eee;
        cursor: pointer;
    }
    
    .mas:active {
        background-color: #666;
    }
}

.feriados {
    width: fit-content;
    height: fit-content;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.dia {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #666;
    margin: 4px;
}

.enviar {
    width: auto;
    line-height: 2;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #555;
    color: #eee;
    font-weight: 700;
    text-align: center;
}

.enviar:hover {
    background-color: #777;
    cursor: pointer;
}

.enviar:active {
    background-color: #999;
}

.advertencia {
    color: red;
    height: fit-content;
}


.pdfimp {
    width: 150px;
    background-color: #eee;
    border: 0.5px solid #999;
    margin: 5px 0;
    padding: 0 5px;
    position: relative;
}

.pdf , .imp {
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advPdfImp {
    position: absolute;
    top: 10px;
    left: 160px;
    font-size: 15px;
    width: 120px;
    height: 30px;
    color: red;
}


